

nav{
    
    padding: 3%;
    
}
/*styles the links*/
a{
    text-decoration: none;
    float: right;
    padding-inline-end:1% ;
    border: 10%;
    font-size: 1.5rem;
    margin: 1px;
    color: white;
}
/*styles the body */
body{

    background-color: rgb(190, 152, 194);
    
    
}
/*styles the image*/
  img{
      float: left;
      border-radius: 100%;
      margin-left: 100px;
      margin-right: 100px;
      
  }
  /*styles the ul,li,p and h1 elements at once*/
ul, li, p, h1{
    font-size: 25px;
    font-style: normal;
    font-family: fantasy;

}
li{
    color: white;
}
.side{
    width: 30%;
    float: left;
     
}
/*styles the class column elements*/
.column{
    width: 350px;
    float: left;
    font-family: monospace;
    padding: 3px;
    
}

h1{
    color:white;
    font-family: serif;
}
.name{
    font-style: italic;
    opacity: 0.8;
    text-decoration: underline;
    text-decoration-color: beige;
}
#intro{
    color: white;
    font-size: 2rem;
    font-family: serif;
    
}
.about{
    color: white;
    font-family: serif;
    font-size: 2rem;
    
}
.anita{
    float: none;
    color: blue;
}
span{
    color:black;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body{
        background-color: springgreen;
    }
    .column{
        float: left;
        font-family: monospace;
        padding: 10px;
        color: red;
    }
}


